<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>MiMessenger</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>messager</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>This app requires to access your Apple Music for calls</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>This app requires to access your Bluetooth for calls</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>This app requires to access your Bluetooth for calls</string>
	<key>NSCalendarsUsageDescription</key>
	<string>This app requires to access your Calendar for calls</string>
	<key>NSCameraUsageDescription</key>
	<string>This app requires to access your сamera to enable you to upload pictures</string>
	<key>NSContactsUsageDescription</key>
	<string>This app requires to access your contact for calls</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>This app requires to access your Location for calls</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app requires to access your Location for calls</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Need microphone access for uploading videos</string>
	<key>NSMotionUsageDescription</key>
	<string>This app requires to access your Motion for calls</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Need photo library access for uploading photo and videos</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>This app requires to access your Speech Recognition for calls</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDarkContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
